<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>72118664378-2vgqs7e9ue3nh0eslms7sonhqjn0kjhi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.72118664378-2vgqs7e9ue3nh0eslms7sonhqjn0kjhi</string>
	<key>API_KEY</key>
	<string>AIzaSyCVHsU-Z90HAYX-fgUP9HSwlnkkyQT6p7E</string>
	<key>GCM_SENDER_ID</key>
	<string>72118664378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.productivityApp</string>
	<key>PROJECT_ID</key>
	<string>productivity-app-8ca50</string>
	<key>STORAGE_BUCKET</key>
	<string>productivity-app-8ca50.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:72118664378:ios:b5b6e8041424fe7dbed683</string>
</dict>
</plist>